@import "~antd/dist/antd.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  color: white;
  background-color: #303030;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.filter {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.tab-classes {
  border-bottom: 3px solid #DB4437;
}